---
type: specs.openrewrite.org/v1beta/recipe
name: {{recipeId}}
displayName: {{recipeDisplayName}}
description: {{recipeDescription}}
tags: []
# List the recipes this composition runs. Examples:
#   - org.openrewrite.java.format.AutoFormat
#   - org.openrewrite.java.RemoveUnusedImports
recipeList:
  - org.openrewrite.java.RemoveUnusedImports
